# Node modules for the application
node_modules

# Webpack bundle
client/dist/bundle.js

# MAC .DS_Store
.DS_Store

# CSV Data Files for MySQL
data/

# MySQL Dump File for Heroku
stock_dump.sql

#Auth0 config file
client/src/config/auth_config.js