# Node modules for the application
node_modules

# Webpack bundle
client/dist/bundle.js

# MAC .DS_Store
.DS_Store

# CSV Data Files for MySQL
data/

# Google API Key
client/config/clientId.js

# MySQL Dump File
dump.sql 

# Clear DB Setup Documentation
clearDBSetUp.txt