# Node modules for the application
node_modules

# Webpack bundle
client/dist/bundle.js

# MAC .DS_Store
.DS_Store

# CSV Data Files for MySQL
data/

# Google API Key
client/config/clientId.js

#Instruction for clearDB set up
clearDBSetUp.txt

#Sequel Dump File
dump.sql 

#GoogleAuth Confirmation HTML File
client/dist/googledb97282749492ef5.html